<div class="listing-form">
  <%= form_for @listing, :html => { :multipart => true } do |f| %>
    <div class="form-group">
      <%= f.label :title %></br>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :description %></br>
      <%= f.text_field :description %>
    </div>
    <div class="form-group">
      <%= f.label :address %></br>
      <%= f.text_field :address %>
    </div>
     <div class="form-group">
      <%= f.label :city %></br>
      <%= f.text_field :city %>
    </div>
     <div class="form-group">
      <%= f.label :state %></br>
      <%= f.text_field :state %>
    </div>
     <div class="form-group">
      <%= f.label :zipcode %></br>
      <%= f.text_field :zipcode %>
    </div>
     <div class="form-group">
      <%= f.label :price  %></br>
      <%= f.text_field :price %>
    </div>
    <div class="form-group">
     <%= f.hidden_field :user_id, :value => current_user.id %></br>
   </div>
   <%= f.fields_for :listing_photos do |x| %>
     <div class="form-group">
        <%= x.label :caption %></br>
        <%= x.text_field :caption %>
      </div>
      <div class="form-group">
        <%= x.label :photo %></br>
        <%= x.file_field :photo %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.submit(:class => "btn btn-primary") %>
    </div>

  <% end %>
</div>
