
  <div class="col-xs-3 col-sm-3 col-md-4">
    <div class="thumbnail">
    <% if listing.listing_photos.first != nil %>
    <div class="thumbnail-image">
      <%= image_tag listing.listing_photos.first.photo %>
    </div>
    <% end %>

        <h6><%= link_to listing.title, listing_path(listing) %></h6>
        <p><%= listing.city %>, <%= listing.state %></p>
        <p><%= link_to "More Info", listing_path(listing), :class => "btn btn-xs btn-primary" %>
      </div>
  </div>

