<li><%= link_to listing.title, listing_path(listing) %></a>
    <p> $ <%= listing.price %><br>
    <%= listing.city %>, <%= listing.state %> </p>
    <% if listing.listing_photos.first != nil %>
      <%= image_tag listing.listing_photos.first.photo(:medium) %>
    <% end %>
</li>


