<% content_for(:title, "Listings | BonnieBNB") %>
<h1> AirBnB Listings </h1>

<%= form_tag listings_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  <p>
<% end %>


 <div class="row">
  <ul class="thumbnails">
 <div class = "listings">

<%= render @listings %>

</div>
</ul>
</div>
<div class="pagination">
<%= will_paginate @listings %>
</div>
