<!DOCTYPE html>
<html>
<head>
  <title>AirbnbClone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <div class="container">
  <div class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
  <ul class="nav navbar-nav">
          <li> <a class="brand" href="/"> AirBNB </a></li>

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">

            <%= form_tag listings_path, method: :get do %>

              <%= text_field_tag :query, params[:query], :class => "form-control", :placeholder => "Where are you going?" %>
          </div>
              <%= submit_tag "Search", name: nil, :class => "btn btn-info" %>

            <% end %>
        </form>




    <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "New Listing", new_listing_path(:user_id => current_user.id) %> </li>
        </ul>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-primary" %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <div class="navbar-text">
            <li><h7>Logged in as <%= current_user.email %></h7></li>
          </div>
        </ul>

    <% else %>
    <ul class="nav navbar-nav">
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Login", new_user_session_path %></li>
    </ul>
    <% end %>
  </ul>
  </div>
</div>

<div class="jumbotron">
<%= yield %>
</div>
</div>
</body>
</html>
